{% extends 'TGUdecBundle::layout.html.twig' %}

{% block contenido -%}
    <header><h3>Trabajos de Grado</h3></header>

    <table id="example" name="example"  class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Registro</th>
                <th>Titulo</th>
                <th>Concepto</th>
                <th>F. Grado</th>
                <th>Tipo</th>
                <th>Palabras claves</th>
                <th>Clasificacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('trabgrado_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha_rg %}{{ entity.fecha_rg|date('Y-m-d H:i:s') }}{% endif %}</td>
               
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.concepto }}</td>
                <td>{% if entity.fecha_grado %}{{ entity.fecha_grado|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.tipo_trabajo }}</td>
                 <td>{{ entity.palabras_clave }}</td>
               <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('trabgrado_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('trabgrado_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                    <li>
                        <a href="{{ path('archivostg_listar', { 'id': entity.id }) }}">adjuntos</a>
                    </li>
					<li>
                        <a href="{{ path('asesores', { 'id': entity.id }) }}">asesores</a>
                    </li>
					<li>
                        <a href="{{ path('autores', { 'id': entity.id }) }}">autores</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('trabgrado_new') }}">
                Crear un nuevo trabajo
            </a>
        </li>
    </ul>

    {% endblock %}
